.content{
    width: 650px;
    /*height: 800px;*/
    margin: 10px auto;
    padding-top: 10px;
}

.content_media{
    width: 800px;
    /*height: 800px;*/
    margin: 10px auto;
    padding-top: 10px;
}